/* Navbar.css */
/* :root {
  --color-primary: #333;
  --color-secondary: #ff6347;
  --color-white: #fff;
  --color-gray-100: #f7f7f7;
  --transition: all 0.3s ease;
} */

nav {
  height: 6rem;
  width: 100%;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav_container {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo img {
  width: 7rem;
}

.nav_links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  transition: var(--transition);
}

.nav_links a {
  color: var(--color-white);
  text-decoration: none;
  transition: var(--transition);
}

.nav_links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-primary);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}

.nav_toggle-btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav_toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-white);
  }

  .nav_links {
    display: none;
    position: absolute;
    top: 6rem;
    right: 0;
    flex-direction: column;
    width: 100%;
    background: var(--color-primary);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }

  .nav_links.show_nav {
    display: flex;
  }

  .nav_links li {
    width: 100%;
  }

  .nav_links li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }

  .active-nav,
  .active-nav::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_container {
    width: 95%;
    padding: 0 1rem;
  }

  .logo img {
    width: 6rem;
  }

  .nav_toggle-btn {
    font-size: 1.5rem;
  }

  .nav_links li a {
    padding: 1rem 0.5rem;
  }
}
